html
	head
		title The Movie Warehouse 	
	body(style = 'background-color: #fffaf0')

		include ../partials/header

		div#main
			p The TMW website was built in 2 days, so please be lenient : ).

		include ../partials/footer
